<h1><%= @movie.title %></h3>
<p><%= @movie.year%></p>
<p>$<%= @movie.price %> - </p><% link_to "Watch now!", new_movie_order_path(@movie.id)%>
<p><%= @movie.length %> minutes</p>
<h2>Actors:<p>
<% @movie.actors.each do |actor| %>
    <h3><%= actor.name%></h3>
    <p>DOB: <%=actor.dob%></p>
<% end %>

<h2>Reviews:</h2>
<% @movie.reviews.each do |review| %>
    <p><%= review.message%> <%= review.stars %>/5 Stars</p>
    <p>Submitted by: <%= review.user.username %></p>
<% end %>

<%=link_to 'Add a review', new_movie_review_path(@movie.id)%>